@charset "UTF-8"

html{
    font-size: 100%;
}

body{
    font-family: 'Yu-Gothic Medium', "游ゴシック Medium", YuGothic, "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;

    background-color: #e8e8e8;
    list-style-position: outside;

    width: 100%;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.top-header{
    position: fixed;
    background-color: #5382b0;
    height: 80px;
    width: 100%;
    
}

.header-contents{
    display: flex;
    flex-direction: row;
}

.top-header a:hover{
    color: #0bd;
}
.top-header a{
    color: white;
}
.header-content{
    width: 100px;
    height: 30px;

    color: white;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
}

.header-title{
    color: white;
    font-size: 30px;
    height: 50px;
    padding-left: 20px;
    /*width: 2000px;*/
    font-weight: bolder;
}

.main-content{


    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 110px;

    background-color: white;
}


h1{
    font-size: 30px;
    color: #5382b0;
}

.main-content ol{
    padding-left: 30px;
}
.main-content ul{
    padding-left: 30px;
}
.main-content p{
    padding-left: 10px
}
li{
    padding-top: 5px;
    padding-bottom: 5px;
}